html {
  height: 100%;
}
body {
  height: 100%; 
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(roboto.woff) format('woff');
}
@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(roboto_reg.woff) format('woff');
}
.ui-bar-b, .ui-page-theme-b .ui-bar-inherit, html .ui-bar-b .ui-bar-inherit, html .ui-body-b .ui-bar-inherit, html body .ui-group-theme-b .ui-bar-inherit
{
  background-color: #005A98;
  border: 1px solid #005A98;
  color: #fff;
  text-shadow: #eeeeee;
}
.ui-overlay-b, .ui-page-theme-b, .ui-page-theme-b .ui-panel-wrapper {
    background-color: #DBF0FF;
}
.ui-page-theme-b .ui-btn,
html .ui-bar-b .ui-btn,
html .ui-body-b .ui-btn,
html body .ui-group-theme-b .ui-btn,
html head + body .ui-btn.ui-btn-b,
/* Button visited */
.ui-page-theme-b .ui-btn:visited,
html .ui-bar-b .ui-btn:visited,
html .ui-body-b .ui-btn:visited,
html body .ui-group-theme-b .ui-btn:visited,
html head + body .ui-btn.ui-btn-b:visited {
    background-color:           #005A98 /*{b-bup-background-color}*/;
    border-color:           #007BCE /*{b-bup-border}*/;
    color:                  #fff /*{b-bup-color}*/;
    text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 0 /*{b-bup-shadow-radius}*/ #111 /*{b-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-b .ui-btn:hover,
html .ui-bar-b .ui-btn:hover,
html .ui-body-b .ui-btn:hover,
html body .ui-group-theme-b .ui-btn:hover,
html head + body .ui-btn.ui-btn-b:hover {
    background-color:           #2D87C4 /*{b-bhover-background-color}*/;
    border-color:           #007BCE /*{b-bhover-border}*/;
    color:                  #fff /*{b-bhover-color}*/;
    text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 0 /*{b-bhover-shadow-radius}*/ #111 /*{b-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-b .ui-btn:active,
html .ui-bar-b .ui-btn:active,
html .ui-body-b .ui-btn:active,
html body .ui-group-theme-b .ui-btn:active,
html head + body .ui-btn.ui-btn-b:active {
    background-color:           #2D87C4 /*{b-bdown-background-color}*/;
    xborder-color:          #fff /*{b-bdown-border}*/;
    color:                  #fff /*{b-bdown-color}*/;
    text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 0 /*{b-bdown-shadow-radius}*/ #111 /*{b-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-b .ui-btn.ui-btn-active,
html .ui-bar-b .ui-btn.ui-btn-active,
html .ui-body-b .ui-btn.ui-btn-active,
html body .ui-group-theme-b .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-b.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-b .ui-checkbox-on:after,
html .ui-bar-b .ui-checkbox-on:after,
html .ui-body-b .ui-checkbox-on:after,
html body .ui-group-theme-b .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-b:after,
/* Active flipswitch background */
.ui-page-theme-b .ui-flipswitch-active,
html .ui-bar-b .ui-flipswitch-active,
html .ui-body-b .ui-flipswitch-active,
html body .ui-group-theme-b .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-b.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-b .ui-slider-track .ui-btn-active,
html .ui-bar-b .ui-slider-track .ui-btn-active,
html .ui-body-b .ui-slider-track .ui-btn-active,
html body .ui-group-theme-b .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-b .ui-btn-active {
    background-color:       #22aadd /*{b-active-background-color}*/;
    border-color:           #22aadd /*{b-active-border}*/;
    color:                  #fff /*{b-active-color}*/;
    text-shadow: 0 /*{b-active-shadow-x}*/ 1px /*{b-active-shadow-y}*/ 0 /*{b-active-shadow-radius}*/ #0088bb /*{b-active-shadow-color}*/;
}
#xpanelMain [data-role=header] .ui-btn{
  padding: 5px 10px;
  xfont-size:1.5em;
  margin:0px;
  top: 0.1em;
}
[data-role=footer]{
  text-shadow: none;
  font-weight: normal;
  font-size: 12px;
  border: none;
  background: none;
  color:#000;
}
body {
  height: 100%;  
}
.swiper-container {
  xheight: 140px;
  position:relative;
}
.noimage.swiper-container {
  height: 107px;
}

.swiper-title{
  margin:5px 3px 0px;
  padding:0px;
  font: normal 16px 'Roboto-Regular', sans-serif;
}
.swiper-slide{
  font-size:12px;
}
.swiper-slide a{
  color:#fff;
  text-decoration:none;
  font-weight:normal;
  text-shadow:none;
}
.swiper-slide a:hover, .swiper-slide a:visited {
  color:#fff;
}
.swiper-slide div.item{
  width: 120px;
  height: 120px;
  position: relative;
  padding: 0px;
  margin-right:2px;
  background: #000;
  float:left;
  border-bottom:5px solid #005A98;
}
#catSwiper531f1ee86 .swiper-slide div.item{
  border-bottom:5px solid #B52E31;
}
.swiper-slide div.item img{
  z-index: -2;
}
.swiper-slide div.item p{
  position: absolute;
  top: 0px;
  left: 0px;
  background: url("../img/headerGrad.png") repeat-x 0px -80px;
  width: 120px;
  height: 120px;
  margin: 0px;
  padding: 0px; 
  color: #fff;
}
.swiper-slide a.newsdoc{
  position: absolute;
  bottom: 0px;  
  left: 0px;
  display: block;
  width: 120px;
  height: 120px; 
}
.swiper-slide a.newsdoc span{
  position: absolute;
  bottom: 0px;  
  left: 0px;
  display: block;
  padding: 5px;
  text-shadow: 1px 1px #000;
}
.swiper-slide div img{
  width: 120px;
  height: 80px;
}
.swiper-slide div p{   
  margin:0px;
  padding:0 4px;
  line-height: 15px;
  width:110px;
  overflow:hidden;
  position: relative;
  height:45px;
}
.swiper-slide div p.AR{
  text-align:right;  
  direction:rtl;
}
.swiper-slide p.AR a.newsdoc{
  right: 0px;
}
.swiper-slide p.AR a.newsdoc span{
  right: 0px;
}   
#panelMain .ui-content{
margin:0px;
padding:0px; 
}
#panelDocview .ui-content{
margin:0px;
padding:0px; 
}
.ui-content{
 padding:0.5em;
 padding-top:0px;
 margin-top:0px; 
 color: #2A2A2A;
 text-shadow:none;
}
#panelMain .swiper-wrapper{
  margin-left: 0px;
}
   
p.docDateBar{
  margin-top: 0px;
  margin-bottom:1em; 
}
.docHeader{
  position: relative;
  margin: 0px;
}
.docHeader img{
  width: 100%;
  min-height: 170px;
} 
.docHeader .headerBack{
  position: absolute;
  bottom: 0px;
  background: url("../img/headerGrad.png") repeat-x bottom left;
  width: 100%;
  height: 100%;
  margin: 0px;  
} 
.docHeader .headerText{
  color: white;  
  position: absolute;
  bottom: 0px;
  padding: 5px;
  margin: 0px;
  text-shadow: none; 
}
.docHeader .headerText h3{
  margin:0px;
  padding: 0px;
  padding-bottom: 4px;
  text-shadow: 1px 1px #000;
  font: normal 28px 'Roboto', sans-serif;
  line-height: 0.9em;
}
.docHeader.AR .headerText{
  text-align:right; 
  right:3px;
}
.docHeader.AR .headerText h3{
  text-align:right; 
}
.docHeader .headerText p{
  margin:0px;
  font-size: 0.8em;
}
.docHeader .headerText small{
  font-weight:normal;
}
.docHeader .headerText p strong{
  font-weight:bold;
}
#panelDocview .docBody{
  padding: 0 5px 5px 5px;
  margin: 0px; 
}
#panelDocview .docBody.AR{
  text-align: right;
  direction: rtl;
}
#panelDocview li{
  padding-bottom: 0.4em;
}
#panelDocview p:first-child{
  margin-top:8px;
}
.hcrlogo{
 height:35px;
 padding:3px 0 0 5px;
}
#panelMain .swiper-title{
  color:#2A2A2A;
  font: normal 16px 'Roboto-Regular', sans-serif;  
  text-shadow:none;  
}
#catSwiper531f1ee86 .swiper-title{
  color: #B52E31;
}
blockquote.pullquote p{
  font-style: italic;
  padding:0px;
  margin:0px;
}

blockquote.pullquote {
  padding:10px 20px;
  margin:0 0 20px;
  border-left:5px solid #eee;
} 

blockquote.pullquote p.by{
  color: #333;
}
#settingsList{
  margin-bottom:1em;
} 
.ui-header .ui-title, .ui-footer .ui-title{
 margin-right:2.5em;
 margin-left:32%;
 text-align: left;   
}
.pageContent{
 padding:0px 8px;
}
.ui-block-a a{
 height:90px;
 padding:5px;
 padding-right:100px;
 margin-top:5px;
 background: #EBEBEC url("../img/pdfpub.png") no-repeat top right;
 display:block;
 color: #2A2A2A;
 text-decoration:none;
}
.ui-block-a a:visited{
 color: #2A2A2A;
}
#version{
  margin-top:140px;
  font-size:60%;
  color:#aaa;
}
h1.ui-title.AR{
  direction: rtl;
  text-align:right;
}